.contenedor{
    max-width: 50%;
    margin: 0 auto;
    border: solid 1px;
    color: black;
    padding: 100px;


}
.borde{
    border-bottom: solid 3px;
    color: rgb(24, 219, 18);
    padding-top: 15px;
}